<div class="container">
    <div class='row'>
        <h1> Ticket Booking </h1>
        <a class='pull-right' routerLink='/admin'> Go to admin</a>
    </div>

    <div *ngIf='theatres && theatres.length > 0; else noTheatreErr;'>
      <div class="form-group">
        <label for="theatre">Select theatre</label>
        <select
          id="theatre"
          class="form-control"
          name="theatre"
          (change)='onChange($event.target.value)'>
          <option *ngFor='let theatre of theatres' value={{theatre._id}}>{{theatre.name}} - {{theatre.location}}</option>
        </select>
      </div>

      <div class='row'>
        <div class="col-md-8">
          <app-seat-hierarchy [seats]='seats' (resetEvent)='reset()'></app-seat-hierarchy>
        </div>

        <div class="col-md-4">
          <app-seat-status [seats]='seats' (reset)='resetAction'></app-seat-status>
          {{selectedSeatsCount}}
          <app-calc-board [seats]='seats'></app-calc-board>
        </div>
      </div>
    </div>

    <ng-template #noTheatreErr>
      <span class="help-block">Go to admin page and add theatres!</span>
    </ng-template>
</div>